# Virtual environments
.venv/
venv/

# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log